<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497656755009-3lmbibniq7tqkgf6r1ek5mn991hn3rkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497656755009-3lmbibniq7tqkgf6r1ek5mn991hn3rkf</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJdhquOxBNmOP1pH4Mv5utnPRm39OEUg</string>
	<key>GCM_SENDER_ID</key>
	<string>497656755009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.codebaboon.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7d8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7d8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497656755009:ios:d0216ed2a2bf22ea57e7c0</string>
</dict>
</plist>